NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://postgres.ddmnzklvxbijpcpckwez:[EMAIL_ADDRESS]:5432/postgres"
DIRECT_URL="postgresql://postgres.ddmnzklvxbijpcpckwez:[EMAIL_ADDRESS]:5432/postgres"

CORS_ORIGIN=http://localhost:5173
